<%= form_for @product_item, :html => { :class => 'form-horizontal', multipart: true  } do |f| %>
	<div class="control-group">
		<%= f.label :pictures, :class => 'control-label' %>
		<div class="controls">
			<% if @product_item.pictures.present?%>
				<% @product_item.pictures.each do |picture|%>
					<%= image_tag picture.image.url(:thumb) %>
				<% end %>
				<%= file_field_tag "images[]", type: :file, :multiple => true %>
			<%else%>
				<%= file_field_tag "images[]", type: :file, :multiple => true %>
			<%end%>
		</div>
	</div>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :available_quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :available_quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
 
  <div class="control-group">
        <div class="controls">
      <%= f.hidden_field :is_active, :value=>false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                product_items_path, :class => 'btn' %>
  </div>
<% end %>
