<div class="main">
	<div class="wrap">
		<div class="section group">
			<div class="cont span_2_of_3">
				<%if current_user && (User.find_role?(current_user) == "A" || User.find_role?(current_user) == "B")%>
					<%= link_to 'Create New', new_product_item_path, :class => 'btn btn-primary' %>
				<% end %>
				<% if  @product_items.empty?%>
					<h2 class="head">No Products</h2>
				<%else%>
				<h2 class="head">Products</h2>
				<div class="top-box">
					<% @product_items.each do |product_item| %>
						<div class="col_1_of_3 span_1_of_3"> 
							<a href="single.html">
								<div class="inner_content clearfix">
									<div class="product_image">
										<% if product_item.pictures.present?%>
											<%= link_to "#{image_tag product_item.pictures.first.image.url(:medium)}".html_safe, product_item_path(product_item)%>
										<% end %>
									</div>
									<div class="sale-box"><%=link_to image_tag("/assets/leoshop-images/delete.png"),product_item, method: :delete, data: { confirm: 'Are you sure?' }%></div>	
									<div class="price">
										<div class="cart-left">
											<p class="title"><%= product_item.title %></p>
											<div class="price1">
												<span class="actual">Rs.<%= product_item.price %></span>
											</div>
										</div>
										<a href="/product_items/<%=product_item.id%>/edit"><div class="cart-right"></div></a>
										<div class="clear"></div>
									</div>				
								</div>
							</a>
						</div>
					<% end %>
				<% end %>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "layouts/sidebar" %>