<div class="wrap">
		<div class="col_1_of_login span_1_of_login">
		
					<h4 class="title">Change Password</h4>
		<div id="loginbox" class="loginbox">
		
  <!--form action="" method="post" name="login" id="login-form"-->
	<fieldset class="input">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
	
	<div><%= f.label :name %><br />
    <%= f.text_field :name,disabled:true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, disabled:true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>
	<div class="remember">
  <div><%= f.button "Update", :class=>"grey" %></div>
	
</div>
	</fieldset>	
<% end %>
</div>
</div>
<div class="clear"></div>
</div>

