<%- model_class = User -%>
<div class="wrap">
<div>
	<select>
		<option value="ADMIN">ADMIN</option>
		<option value="CUSTOMER">CUSTOMER</option>
		<option value="RETAILER">RETAILER</option>
	</select>
</div>
<% if !@users.present? %>
	Sorry!! No Users Found
<% else %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= model_class.human_attribute_name(:id) %></th>
				<th><%= model_class.human_attribute_name(:name) %></th>
				<th><%= model_class.human_attribute_name(:email) %></th>
				<th>Role</th>
				<th>Description</th>
				<th><%=t '.actions', :default => t("helpers.actions") %></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.id, user_path(user) %></td>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.role.role_type %></td>
					<td><%= user.desc %></td>
					<td>
				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),user_path(user),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
</div>

<!--%= link_to t('.new', :default => t("helpers.links.new")),new_user_path,:class => 'btn btn-primary' %-->


<script type="text/javascript">
    $("select").change(function(){
       var role_type = $(this).val();
			  window.location.href = 'http://localhost:3000/admins/get_role_type?role='+role_type;
    });
</script>