<p>Dear Admin,</p>

<p><b>You have a new Product Request</b></p>
<p><b>Retailer: </b><%= @product.user.name%></p>
<p><b>Product Details</b></p>
<p><b>Product Title: </b><%=@product.title%></p>
<p><b>Product Description: </b><%=@product.description%></p>
<p><b>Product Availablity: </b><%=@product.available_quantity%></p>
<p><b>Product Price: </b><%=@product.price%></p>

<%= link_to 'Click here', root_path %> to Approve or Reject Product

<p>Regards,</p>
<p>Smartek Ecommerce Team</p>