 <div class="login">
          	<div class="wrap">
				<div class="col_1_of_profile span_1_of_login">
				<div class="login-title">
	           		<h4 class="title">Profile Details</h4>
					<div id="loginbox" class="loginbox">
					<%= form_for @profile_detail, :html => { :class => 'form-horizontal', :multipart => true  } do |f| %>
						<!--form action="" method="post" name="login" id="login-form"-->
						  <fieldset class="input">
							<p id="login-form-username">
						      <label for="modlgn_username">Picture</label>
								<%if @profile_detail.avatar.nil?%>
									<%= f.file_field :avatar %>
								<%else%>
									<%= image_tag @profile_detail.avatar.url(:thumb) %>
									<%= f.file_field :avatar %>
								<%end%>
						     </p>
						    <p id="login-form-username">
						      <label for="modlgn_username">Contact Number</label>
									  <%= f.text_field :contact_no, autofocus: true, :class=>"inputbox" %>
						      </p>
							<p id="login-form-password">
						      <label for="modlgn_passwd">Gender</label>
								<%= f.text_field :gender, autocomplete: "off", :class=>"inputbox"%></div>
						    </p>
						    <p id="login-form-password">
						      <label for="modlgn_passwd">DOB</label>
								<%= f.text_field :dob, autocomplete: "off", :class=>"inputbox"%></div>
						    </p>
								<%= f.hidden_field :doj, :value => Time.now %>
						    <div class="remember">
								<div><%= f.button "Save", :class=>"grey" %></div>
							 </div>
						  </fieldset>
						<% end %>
					</div>
			    </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

	

