<%= form_for @profile_detail, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :contact_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'text_field' %>
    </div>
  </div>

<div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
	<%= f.file_field :avatar %>
    </div>
  </div>

	<%= f.hidden_field :doj, :value => Time.now %>
	<!--
	<%= f.fields_for :addresses do |builder| %>
		<%= render "address_fields", :f => builder %>
	<% end %>-->

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <!--%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profile_details_path, :class => 'btn' %-->
  </div>
<% end %>
	<%if params[:action]=="edit"%>
		<%if @profile_detail.addresses.present?%>
			<%= render :partial => 'profile_addresses' %>
		<% end %>
	<% end %>
<div class="form-actions">
	<%if params[:action]=="edit"%>
		<%=link_to "Add Address", new_address_path,:class=> "btn btn-primary", :style=>"color:white;"%>
	<% end %>
</div>
	

