	<div class="wrap">
		<div class="col_1_of_login span_1_of_login">
		<div class="login-title">
						<h4 class="title">Profile Details</h4>
			<div id="loginbox" class="loginbox">
				<%= form_for @profile_detail, :html => { :class => 'form-horizontal', :multipart => true  } do |f| %>
				<!--form action="" method="post" name="login" id="login-form"-->
					<fieldset class="input">
					<p id="login-form-username">
							<label for="modlgn_username">Picture</label>
						<%if @profile_detail.avatar.nil?%>
							<%= f.file_field :avatar %>
						<%else%>
							<%= image_tag @profile_detail.avatar.url(:thumb) %>
							<%= f.file_field :avatar %>
						<%end%>
						 </p>
						<p id="login-form-username">
							<label for="modlgn_username">Contact Number</label>
								<%= f.text_field :contact_no, autofocus: true, :class=>"inputbox" %>
							</p>
					<p id="login-form-password">
							<label for="modlgn_passwd">Gender</label>
						<input type="radio" name="gender" value="male">Male</input>
						<input type="radio" name="gender" value="female">Female</input>
				
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">DOB</label>
						<%= f.text_field :dob, autocomplete: "off", :class=>"inputbox"%></div>
						</p>
						<%= f.hidden_field :doj, :value => Time.now %>
						<div class="remember">
						<div><%= f.button "Save", :class=>"grey" %></div>
					 </div>
					</fieldset>
				<% end %>
			</div>
			</div>
		
		</div>
		<%if params[:action]=="edit" && @profile_detail.addresses.present?%>
		<div class="col_1_of_login span_1_of_login">
		<h4 class="title">Address Details</h4>
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Location</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				<%if @profile_detail.addresses.present?%>
				<% @profile_detail.addresses.each do |address| %>
				<tr>
					<td><%= address.nick_name %></td>
					<td><%= address.line_1 %></td>
						<td><%= address.city %>,
					<%= address.state %>,
					<%= address.country %>,<%= address.pincode %>
					</td>
				<td> <%= link_to "Edit #{address.nick_name}"	,edit_address_path(address), :class => 'btn btn-mini' %> </td>
				<td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),address_path(address),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %></td>
				</tr>
					<% end %>
					
				</tbody>
			</table>
			<%else%>
			<p> No Address!!</p>
				<% end %>
		<div class="button1" style="float:left;"> 
			<%=link_to "Add Address", new_address_path,:class=> "btn btn-primary", :id=>"new_address", :style=>"color:white;"%>
		 </div>
		 <% end %>
		 <div class="clear"></div>
	</div>

		
		<%if params[:action]=="edit" %>
		<div class="col_1_of_login span_1_of_login" id="address_form" style="display:none">
		<div class="login-title">
			<h4 class="title">New Address</h4>
			<div id="loginbox" class="loginbox">
						<%= form_for @address, :html => { :class => 'form-horizontal' } do |f| %>
				<!--form action="" method="post" name="login" id="login-form"-->
					<fieldset class="input">
					<p id="login-form-password">
							<label for="modlgn_passwd">Contact Name</label>
							<%= f.text_field :nick_name, :class => 'text_field' %>
					</p>
						<p id="login-form-username">
							<label for="modlgn_username">Address</label>
							      <%= f.text_field :line_1, :class => 'text_field' %>
							      <%= f.text_field :line_2, :class => 'text_field' %>
							</p>

						<p id="login-form-password">
							<label for="modlgn_passwd">Country</label>
						<%= f.text_field :country, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">State</label>
						<%= f.text_field :state, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">City</label>
						<%= f.text_field :city, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">Pincode</label>
						<%= f.text_field :pincode, :class => 'text_field' %>
						</p>
						<div class="remember">
						<div><%= f.button "Save", :class=>"grey" %></div>
						<div><%= f.button "cancel", :class=>"grey", :id=>"remove_form" %></div>
					 </div>
					</fieldset>
				<% end %>
			</div>
			</div>
		</div>
	
	<%end%>
<div class="clear"></div>
		</div>
		
<script type="text/javascript">
$( "#new_address" ).click(function() {
  $("#address_form").toggle(500);
	return false;
});
$( "#remove_form" ).click(function() {
  $("#address_form").toggle(500);
	return false;
});
</script>