<% if !@order.present? %>
	Sorry!! No Products Found
<% else %>
<div class="wrap">
<div style="padding-left:20px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Retailer Name</th>
				<th>Product  Name</th>
				<th>Price</th>
				<th>Confirmed</th>
			</tr>
		</thead>
		<tbody>
		<% @order && @order.each do |f|%>
		<tr>
		
			<%f.product_ids.each do |k|%>
				<% product_item = find_product_item(k)%>
				
				
				<%if product_item.user_id == current_user.id %>
					<td><%= f.cart.user.name%></td>
					<td><%= ProductItem.find(k).user.name%></td>
					<td><%= product_item.title %></td>
					<td><%= product_item.price %></td>
					

				<td> <%= f.retailer_approve == true ?  "Confirmed" : "Not Approved"%></td>

					</tr>
					

					</tbody>
	</table>
	</div>
			<div style="float:right;margin-top:-141px;">
				<table class="table table-striped" >
		<thead>
			<tr>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

				<tr style="float:right;width:100px;">
						<td>
						<%= button_to "Approve", approve_and_reject_retailer_product_order_path(:id=>f,:approval=>"Yes"), data: { confirm: "Are you sure?" }, :class => 'btn btn-mini btn-danger' %>
						<%= button_to "Reject", approve_and_reject_retailer_product_order_path(:id=>f,:approval=>"No"), data: { confirm: "Are you sure?" }, :class => 'btn btn-mini btn-danger' %>
						</td>
				</tr>
			</div>
								</tbody>
																<%end%>
																			<% end %>
	</table>
			<% end %>

<% end %>
</div>

<!--%= link_to t('.new', :default => t("helpers.links.new")),new_user_path,:class => 'btn btn-primary' %-->


