	<div class="col_1_of_login span_1_of_login">
			<div class="button1" style="margin-top:5px;"> 
		<%=link_to "Add Address", new_address_path,:class=> "btn btn-primary",:id=>"new_address", :style=>"color:white;"%>
		 </div>

		<h4 class="title">Delivery Address Details</h4>
		<%if @profile_detail.addresses.present?%>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Address</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
				<% @profile_detail.addresses.each do |address| %>
				<tr>
				 <td><%= radio_button_tag 'address_id', address.id %></td>
					<td><%= address.line_1 %></td>
					<td><%= address.city %>,
					<%= address.state %>,
					<%= address.country %>,<%= address.pincode %>
					</td>
				<!--td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),address_path(address),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %></td-->
				</tr>
					<% end %>
					<%else%>
					<p> Currently No Addresses are there. Please create it!!
					<% end %>
				</tbody>
			</table>
			<%if @profile_detail.addresses.present?%>
		<%= form_tag(orders_billing_info_path, :method=>'get') do %>
			<input type="hidden" name="cart_id" value="<%=@cart_id%>">
			<input type="hidden" name="address_id_val" value="">
			<%= submit_tag("Choose Address", :class=>"btn btn-primary") %>
		<%end%>
		<%end%>
	</div>
	<div class="clear"></div>
</div>
		<div class="col_1_of_login span_1_of_login" id="address_form" style="display:none">
		<div class="login-title">
			<h4 class="title">New Address</h4>
			<div id="loginbox" class="loginbox">
						<%= form_for @address, :html => { :class => 'form-horizontal' } do |f| %>
				<!--form action="" method="post" name="login" id="login-form"-->
					<fieldset class="input">
					<p id="login-form-password">
							<label for="modlgn_passwd">Contact Name</label>
							<%= f.text_field :nick_name, :class => 'text_field' %>
					</p>
						<p id="login-form-username">
							<label for="modlgn_username">Address</label>
							      <%= f.text_field :line_1, :class => 'text_field' %>
							      <%= f.text_field :line_2, :class => 'text_field' %>
							</p>

						<p id="login-form-password">
							<label for="modlgn_passwd">Country</label>
						<%= f.text_field :country, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">State</label>
						<%= f.text_field :state, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">City</label>
						<%= f.text_field :city, :class => 'text_field' %>
						</p>
						<p id="login-form-password">
							<label for="modlgn_passwd">Pincode</label>
						<%= f.text_field :pincode, :class => 'text_field' %>
						</p>
						<div class="remember">
						<div><%= f.button "Save", :class=>"grey" %></div>
						<div><%= f.button "cancel", :class=>"grey", :id=>"remove_form" %></div>
					 </div>
					</fieldset>
				<% end %>
			</div>
			</div>
		</div>
	
	<div class="clear"></div>

		
<script type="text/javascript">
$('input:radio[name=address_id]').click(function() {
  var add_val = $('input:radio[name=address_id]:checked').val();
	$('input[name="address_id_val"]').val(add_val);
});


$( "#new_address" ).click(function() {
  $("#address_form").toggle(500);
	return false;
});
$( "#remove_form" ).click(function() {
  $("#address_form").toggle(500);
	return false;
});

</script>