<div class="register_account">
	<div class="wrap">
		<% if !@cart.product_item_ids.present? %>
    	     <h4 class="title">Shopping cart is empty</h4>
    	     <p class="cart">You have no items in your shopping cart.<br>Click<a href="/home/index"> here</a> to continue shopping</p>
		<%else%>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Products</th>
						<th>Description</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @cart.product_item_ids.each do |product_item| %>
					<tr>
					<% product_item = find_product_item(product_item)%>
						<% if product_item.pictures.present?%>
						<td>	<%= link_to "#{image_tag product_item.pictures.first.image.url(:thumb)}".html_safe, product_item_path(product_item)%> </td>
						<% end %>
						
						<td> <%= product_item.description %></td>
						<td> <%= product_item.available_quantity %></td>
						<td><%= product_item.price %></td>
						
						</tr>
							<%if product_item.user_id == current_user.id %>
								<%= link_to t('.edit', :default => t("helpers.links.edit")),edit_product_item_path(product_item), :class => 'btn btn-mini' %>
								<%= link_to t('.destroy', :default => t("helpers.links.destroy")),product_item_path(product_item),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %>
							<% end %>
							<td><%= link_to t('.destroy', :default => "Remove"),remove_from_my_cart_carts_path(:product_id=>product_item.id),:method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini btn-danger' %></td>
					<% end %>
				</tbody>
			</table>
		<%end%>
	</div>
</div>
