 <div class="login">
          	<div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">New Customers</h4>
					<p>E-commerce benefits from bargain shoppers; they really drove buying in 2001," 
Lori Iventosch-James, director of e-commerce research at Harris Interactive, told the E-Commerce Times. 
"The main reason a lot of consumers turn to the Web is that they perceive it as a place where they can compare prices easily and find bargains. 
By definition, that means less loyalty.</p>
					<div class="button1">
					   <a href="/users/sign_up"><input type="submit" name="Submit" value="Create an Account"></a>
					 </div>
					 <div class="clear"></div>
				</div>
				<div class="col_1_of_login span_1_of_login">
				<div class="login-title">
	           		<h4 class="title">Registered Customers</h4>
					<div id="loginbox" class="loginbox">
					<%= form_for(resource, as: resource_name, :id=>"login-form", url: session_path(resource_name)) do |f| %>
						<!--form action="" method="post" name="login" id="login-form"-->
						  <fieldset class="input">
						    <p id="login-form-username">
						      <label for="modlgn_username">Email</label>
									  <%= f.email_field :email, autofocus: true, :class=>"inputbox" %>
						      </p>
						    <p id="login-form-password">
						      <label for="modlgn_passwd">Password</label>
								<%= f.password_field :password, autocomplete: "off", :class=>"inputbox"%></div>
						    </p>
						    <div class="remember">
							
								<div><%= f.button "Sign in", :class=>"grey" %></div>
							 </div>
							 <%= render "devise/shared/links" %>
						  </fieldset>
						<% end %>
						</div>
			    </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		