<div class="header-top">
	<div class="wrap"> 
		<div class="header-top-left">
			<% if user_signed_in? %>
			<p> Logged in as :<%=current_user.role_type%> | <%=current_user.name%> </p>
			<% end %>
			<!--div class="box">
			<select tabindex="4" class="dropdown">
			<option value="" class="label" value="">Language :</option>
			<option value="1">English</option>
			<option value="2">French</option>
			<option value="3">German</option>
			</select>
			</div>
			<div class="box1">
			<select tabindex="4" class="dropdown">
			<option value="" class="label" value="">Currency :</option>
			<option value="1">$ Dollar</option>
			<option value="2">EUR Euro</option>
			</select>
			</div-->
			<div class="clear"></div>
		</div>
	<div class="cssmenu">
		<ul id="menu1">
				<% if user_signed_in? %>
					<% if !current_user.profile_detail.nil? %>
						<% @profile_id = ProfileDetail.find_by_user_id(current_user.id) %>
						 <li><a class="color5" href="#">Account Settings</a> 
							<ul>
								<li id='sub'><%= link_to "Profile", new_profile_detail_path%>
								<%= link_to 'Change password', edit_user_registration_path, :class => 'navbar-link' %></li>
							</ul> 
						</li> |
						
					<%else%>
					<li><%= link_to "Account Setting", new_profile_detail_path%>
							<ul>
							<li id='sub'><%= link_to "Profile", edit_profile_detail_path(@profile_id)%>
							<%= link_to 'Change password', edit_user_registration_path, :class => 'navbar-link' %> 
							    </li> 
							</ul>
						</li> |
						
					<%end%>
					<%if User.find_role?(current_user) == "A"%>
					<% @user = User.find_all_by_role_type_and_retailer_approval("RETAILER",false).count %>
						<li><a href="#">Retailer</a> 
							 <ul>
								<li>
									<a href="/admins/retailer_requests"><%= @user ? "User  Request(#{@user})": "User  Request"%></a>
									<a href="/admins/product_approval">Product Approval</a>
								</li>		 
							 </ul> 
						</li> |

					<% elsif User.find_role?(current_user) == "B"%>	
						<li><%= link_to "Manage Products", product_items_path %> </li> |
						<li><%= link_to "Shop", "/home/index" %> </li> |
					<%end%>
					<li><%= link_to "Logout", destroy_user_session_path, :method=> :delete%></li> |
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path %> </li> |
					<li> <%= link_to "Log In", new_user_session_path%></li> |
					<li><a href="/home/info_graphics_ecommerce">Ecommerce</a></li> |
					<li><a href="/home/info_graphics_youtube">Youtube</a></li> |
				<% end %>
			</ul>	
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="header-bottom">
		<div class="wrap">
		<div class="header-bottom-left">
			<div class="logo">
					<a href="/home/index"><img src="/assets/leoshop-images/logo.png" alt=""/></a>
			</div>
			<div class="menu">
						<ul class="megamenu skyblue">
		<li class="active grid"><a href="/home/index">Home</a></li>
		<% if !user_signed_in? %>
		<li><%= link_to "Seller Signup",new_user_registration_path(:retailer=>"Retailer"), :class=>"grey"%></li>
		<%end%>
		<% if current_user && User.find_role?(current_user) == "B"%>
			<%if params[:controller] == "product_items" && params[:action] == "index"%>
				<li><%= link_to "Products", product_items_path, :class => "color4" %> 
				
				<li><a class="color6" href="/orders/approve_order">Approve Order</a></li>
				<li><a class="color6" href="other.html">History</a></li>
			<% end %>
		<%end%>
		<% if current_user && User.find_role?(current_user) == "C"%>
				<li><%= link_to "Products", product_items_path, :class => "color4" %> 
				<li><a class="color6" href="other.html">History</a></li>
		<%end%>
		<% if current_user && User.find_role?(current_user) == "A"%>
		<li><a class="color6" href="/orders/approve_order">Approve Order</a></li>
			<li><%= link_to "Users", users_path, :class=>"color6"%></li>
				<li><%= link_to "Products", product_items_path %> </li> 
		<%end%>
		</ul>
		</div>
	</div>
	 <div class="header-bottom-right">
	 <div class="search">
		
	 <% if current_user && User.find_role?(current_user) == "B"%>
	 <form action="/home/search">	
		<input type="text" class="textbox" name="key" placeholder="search here">
		<input type="hidden" name="cont" value="<%=params[:controller]%>">
			 <input type="submit" id="submit">
	 </form>
	<% else %>
	 <form action="/home/search">	
		<input type="text" class="textbox" name="key" placeholder="search here">
			 <input type="submit" id="submit">
	 </form>
	 <% end %>

	</div>
	<div class="tag-list">
		
		<ul class="icon1 sub-icon1 profile_img">
		<li><a class="active-icon c1" href="#"> </a>
			<ul class="sub-icon1 list">
				<li><h3>sed diam nonummy</h3><a href=""></a></li>
				<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
			</ul>
		</li>
	</ul>
		<%if (current_user && User.find_role?(current_user) == "C" )%>
			<ul class="icon1 sub-icon1 profile_img">
				<li><a class="active-icon c2" href="#"> </a>
					<ul class="sub-icon1 list">
					<% if current_user.cart.product_item_ids.nil?%>
					<li><a href="/carts"><h3>No products</h3></a></li>
					<%else%>
						<% current_user.cart.product_item_ids && current_user.cart.product_item_ids.each do |product_item| %>
							<% product_item = find_product_item(product_item)%>
							<li><a href="/carts"><h3><%=product_item.title%></h3></a></li>
							<li><p><%=product_item.price%><a href="">adipiscing elit, sed diam</a></p></li>
							<%end%>
						</ul>
					</li>
					</ul>
	
				<%end%>
					<%if current_user.cart.product_item_ids.nil?%>
						<ul class="last"><li><%= link_to "My Cart (0)", carts_path %> </li></ul>
						<%else%>
					<ul class="last"><li><%= link_to "My Cart (#{current_user.cart.product_item_ids.count})", carts_path %> </li></ul>
					<%end%>

			<%else%>
				<ul class="icon1 sub-icon1 profile_img">
					<li><a class="active-icon c2" href="#"> </a>
						<ul class="sub-icon1 list">
							<li><h3>No Products</h3><a href=""></a></li>
							<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
						</ul>
					</li>
				</ul>
				<ul class="last"><li><%= link_to "My Cart (0)", carts_path %> </li></ul>
		<% end %>
		
	</div>
	</div>
	 <div class="clear"></div>
	 </div>
</div>

  