<body>
	<!-- Site header and navigation -->
	<header class="top" role="header">
		<div class="container">
			<a href="#" class="navbar-brand pull-left">
				Smartek Ecommerce
			</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
			<nav class="navbar-collapse collapse" role="navigation">
				<ul class="navbar-nav nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="/home/info_graphics">Ecommerce Overview</a></li>
					

					<% if user_signed_in? %>

						<% if !current_user.profile_detail.nil? %>
							<% @profile_id = ProfileDetail.find_by_user_id(current_user.id) %>
							<li><%= link_to "Profile", edit_profile_detail_path(@profile_id)%> </li>
						<%else%>
							<li><%= link_to "Profile", new_profile_detail_path%> </li>
						<%end%>
						<% if User.identify_role_type?(current_user) %>
							<li><%= link_to "Manage customers", users_path %> </li>
							<li><%= link_to "Retailer requests", retailer_requests_admins_path %> </li>
							<li><%= link_to "Manage products", product_items_path %> </li>
						<%end%>
						<% if User.identify_role_type?(current_user)%>
							<li><%= link_to "Manage products", product_items_path %> </li>
						<%end%>
							<li><%= link_to "Logout", destroy_user_session_path, :method=> :delete%></li>

					<% else %>
						<li><%= link_to "Sign up", new_user_registration_path %> </li>
						<li> <%= link_to "Sign in", new_user_session_path%></li>
						<li> <%= link_to "Send retailer request", new_user_registration_path(:retailer=>"Retailer")%></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Site banner -->
	<div class="banner" >
	<div class="container" >
	<h1>Shop Me</h1>
	<p>It's amazing how easy the Internet makes it to destroy a business without creating another one in its place.</p>
	</div>
	</div>

	<!-- Include jQuery and bootstrap JS plugins -->
	<script src="/assets/jquery-2.1.0.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
</body>

