<div class="header-top">
	<div class="wrap"> 
		<div class="header-top-left">
			<% if user_signed_in? %>
			<P> Logged in as :<%=current_user.role_type%> | <%=current_user.name%> </p>
			<% end %>
			<!--div class="box">
			<select tabindex="4" class="dropdown">
			<option value="" class="label" value="">Language :</option>
			<option value="1">English</option>
			<option value="2">French</option>
			<option value="3">German</option>
			</select>
			</div>
			<div class="box1">
			<select tabindex="4" class="dropdown">
			<option value="" class="label" value="">Currency :</option>
			<option value="1">$ Dollar</option>
			<option value="2">EUR Euro</option>
			</select>
			</div-->
			<div class="clear"></div>
		</div>
		<div class="cssmenu">
			<ul>
				<% if user_signed_in? %>
					<% if !current_user.profile_detail.nil? %>
						<% @profile_id = ProfileDetail.find_by_user_id(current_user.id) %>
						<li><%= link_to "Profile", edit_profile_detail_path(@profile_id)%>
							<!--ul>
								<li><%= link_to "Change Password", edit_user_registration_path%></li> |
							</ul-->
						</li> |
					<%else%>
						<li><%= link_to "Profile", new_profile_detail_path%>        
							<!--ul>
								<li><%= link_to "Change Password", edit_user_registration_path%></li>
							</ul-->
						</li> |
					<%end%>
					<% if User.find_role?(current_user) == "A"%>
						<li><%= link_to "Users", users_path %> </li> |
						<li><%= link_to "Retailers", retailer_requests_admins_path %> 
							<!--ul>
								<li><a href="/admins/retailer_requests">User  Request</a></li>
								<li><a href="/admins/product_approval">Product Approval</a></li>
							</ul-->
						</li> |
						<li><%= link_to "Products", product_items_path %> 
							<!--ul>
								<li><a href="/product_categories">Categories</a></li>
								<li><a href="/product_brands">Brands</a></li>
								<li><a href="/admins/assign">Assign</a></li>
							</ul-->
						</li> |
					<%end%>
					<% if User.find_role?(current_user) == "C"%>
						<%if current_user.cart.product_item_ids && current_user.cart.product_item_ids%>
							<li><%= link_to "My Cart (#{current_user.cart.product_item_ids.count})", carts_path %> </li> |
						<%else%>
							<li><%= link_to "My Cart", carts_path %> </li> |
						<% end %>
					<%end%>
					<li><%= link_to "Logout", destroy_user_session_path, :method=> :delete%></li> |
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path %> </li> |
					<li> <%= link_to "Log In", new_user_session_path%></li> |
					<li><a href="/home/info_graphics_ecommerce">Ecommerce</a></li> |
					<li><a href="/home/info_graphics_youtube">Youtube</a></li> |
				<% end %>
			</ul>	
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="header-bottom">
		<div class="wrap">
		<div class="header-bottom-left">
			<div class="logo">
					<a href="/home/index"><img src="/assets/leoshop-images/logo.png" alt=""/></a>
			</div>
			<div class="menu">
						<ul class="megamenu skyblue">
		<li class="active grid"><a href="/product_items">Home</a></li>
		<% if User.find_role?(current_user) == "B"%>
			<li><%= link_to "Products", product_items_path, :class => "color4" %> 
			<li><a class="color6" href="other.html">Approve order</a></li>
			<li><a class="color6" href="other.html">Order History</a></li>
		<%end%>
		</ul>
		</div>
	</div>
	 <div class="header-bottom-right">
	 <div class="search">
	 <form action="/home/search">
		<input type="text" class="textbox" name="key" placeholder="search here">
		<input type="submit" id="submit">
	</form>
	</div>
	<div class="tag-list">
		<%if current_user && User.find_role?(current_user) == "C"%>
		<ul class="icon1 sub-icon1 profile_img">
		<li><a class="active-icon c1" href="#"> </a>
			<ul class="sub-icon1 list">
				<li><h3>sed diam nonummy</h3><a href=""></a></li>
				<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
			</ul>
		</li>
	</ul>
		<ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c2" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>No Products</h3><a href=""></a></li>
					<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
				</ul>
			</li>
		</ul>
		<ul class="last"><li><a href="#">Cart(0)</a></li></ul>
		<%end%>
	</div>
	</div>
	 <div class="clear"></div>
	 </div>
</div>

  